:root {
  /*Текст*/
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-title-color: #ffffff;
  --accent-text-color: #2196f3;
  --accent-one-color: #000000;
  --accent-two-color: rgba(255, 255, 255, 0.6);
  --box-color: #ececec;
  --portfolio-box-color: #eeeeee;
  /*Фон*/
  --primary-bacground: #ffffff;
  --accent-bacground: #2f303a;
  --accent-two-background: #f5f4fa;
  --button-background: #188ce8;
}

body {
  background-color: var(--primary-bacground);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
ul {
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.nolist {
  list-style: none;
}

/*Логотип*/
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header-page__logo {
  color: var(--accent-one-color);
}
.footer-page__logo {
  color: var(--accent-title-color);
}

/* Иконки */
.socials {
  display: flex;
  justify-content: center;
}
.socials__item {
  display: flex;

  width: 44px;
  height: 44px;
}
.socials__item + .socials__item {
  margin-left: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-text-color);
}
.socials__icon {
  fill: var(--accent-title-color);
}
.team__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover .team__icon,
.socials__link:focus .team__icon {
  fill: var(--accent-title-color);
}

/* Кнопка */
.button {
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    border: transparent;
    font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-title-color);
  background-color: var(--accent-text-color);
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
  }


.image-reset {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Шапка*/
.header-page {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--box-color);
}
.header-page__box,
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  margin-left: 93px;
}
.header-page__box .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__list .item:not(:last-child) {
  margin-right: 50px;
}
.nav__list .link:hover,
.nav__list .link:focus {
  color: var(--accent-text-color);
}
.nav__list .link.current {
  color: var(--accent-text-color);
}
.current::after {
  position: absolute;
  bottom: -1%;

  display: block;

  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  content: "";
}

.contacts-links {
  display: flex;
  margin-left: auto;
}
.contacts-links .link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-links .link:hover,
.contacts-links .link:focus {
  color: var(--accent-text-color);
}
.contacts-links .item:not(:last-child) {
  margin-right: 50px;
}
.header-page__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-links .link:hover .header-page__icon,
.contacts-links .link:focus .header-page__icon {
  fill: var(--accent-text-color);
}

/*Герой*/
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;

  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--accent-bacground);

  text-align: center;
}
.hero__tytle {
  margin-bottom: 30px;

  color: var(--accent-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;

  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  background: var(--accent-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-left: auto;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover,
.modal__button:focus {
  fill: var(--accent-text-color);
}
.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}
.modal__form {
  width: 100%;
}
.modal__field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.modal__label {
  margin-bottom: 4px;
  margin-right: auto;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__input {  
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
  width: 100%;
  height: 40px;

  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon  {
  position: absolute;
  bottom: 11px;
  left: 12px;

  display: block;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover,
.modal__input:focus {
  border-color: var(--accent-text-color);
}
.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
}
.modal__textarea { 
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
 
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:hover,
.modal__textarea:focus {
  border-color: var(--accent-text-color);
}
.checkbox {
  display: flex; 
  justify-content: space-around;

  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox__label {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.checkbox__input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.checkbox__link {
  color: var(--accent-text-color);
}
.checkbox__icon {
  display: inline-block;

  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--accent-one-color);
  border-radius: 2px;

  fill: var(--accent-title-color);

  background-origin: content-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-text-color);
}

/*Блок-Особенности*/
.feature__title {
  color: var(--title-text-color);
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.feature__list {
  display: flex;
}
.feature__list .feature__item + .feature__item {
  margin-left: 30px;
}
.feature__item {
  width: 270px;
}
.feature__box {
  width: 270px;
  height: 120px;
  background: var(--accent-two-background);
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__subtitle {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}


/*Блок-Чем мы занимаемся*/
.work {
  padding-bottom: 94px;
}
.work__title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work__list {
  display: flex;
}
.work__list .work__item + .work__item {
  margin-left: 30px;
}
.work__item {
  position: relative;
}
.work__box {
  position: absolute;
  bottom: 0;
  left: 0;  

  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8); 
}
.work__text {
  margin-top: 27px;

  color: var(--accent-title-color);  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Блок-Наша команда*/
.team {
  background-color: var(--accent-two-background);
}
.team__title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.members__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.members {
  display: flex;
}
.members__card {
  background-color: var(--accent-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members .members__card + .members__card {
  margin-left: 30px;
}
.members__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}
.members__profession {
  text-align: center;
}
.team__socials {
  margin-top: 16px;
}
.team-text .team-social-item + .team-social-item {
  margin-left: 10px;
}


/* Постоянные клиенты */
.clients__title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center; 
}
.clients__list {
  display: flex;
}
.clients__item {
  display: flex;

  width: 170px;
  height: 92px;
}
.clients__item + .clients__item {
  margin-left: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-text-color);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}
/*Подвал*/
.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--accent-bacground);

  font-size: 14px;
  line-height: 1.71;
}
.bottom-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.contacts__link {
  color: var(--accent-two-color);
}
.contacts__link--inverse {
  color: var(--accent-title-color);
}
.contacts {
  margin-top: 20px;
}
.contacts__link {
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-text-color);
}
.socials__title {
  margin-bottom: 20px;

  color: var(--accent-title-color);
  font-size: 14px;
  line-height: 0.89;
  text-transform: uppercase;
}


.subscription__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
color: var(--accent-title-color);
}
.subscription {
  display: flex;
}
.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;

  color: rgba(255, 255, 255, 0.6);
}
.bottom-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.button--flex {
  display: flex;
justify-content: center;
  margin-left: 12px;
}
  
.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: 0;

  fill: var(--accent-title-color);
}
/*Портфолио*/
.button.secondary {
  padding: 6px 22px;
  background-color: var(--accent-two-background);

  color: var(--title-text-color); 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.filters {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.filters .push + .push {
  margin-left: 8px;
}
.filters .button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .button:hover,
.filters .button:focus {
  background-color: var(--accent-text-color);
  color: var(--accent-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-title {
  color: var(--title-text-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
}
.flex-element:not(:nth-child(3n)) {
  margin-right: 30px;
}
.flex-element:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-element .portfolio-link:hover,
.flex-element .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list .desc {
  margin-top: 4px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;  
}
.portfolio-text {
  border: 1px solid var(--portfolio-box-color);
  border-top-style: none;

  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  transform: translateY(0);

  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-info {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-title-color);
}
.portfolio-link:hover .portfolio-overlay {
  transform: translateY(-100%);
}
